/* News Layout */

.news {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: 1024px) {
  .news {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Article */

.article__image {
  height: 100%;
  width: 100%;
  border-radius: var(--br-large);
  object-fit: cover;
}

.article__link {
  display: inline-block;
  border-radius: var(--br-large);
}

.article__heading {
  display: -webkit-box;
  margin: 0 0 5px 0;
  max-height: 48px;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.article__summary {
  display: -webkit-box;
  margin: 0 0 5px 0;
  max-height: 40px;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--text-secondary-color);
}

.article__info {
  display: flex;
  gap: 10px;
  color: var(--text-ligth-color);
}

/* Highlight */

.highlight__link {
  display: inline-block;
  width: 100%;
}

.highlight__link.focusable {
  border-radius: var(--br-large);
}

.highlight__article {
  position: relative;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  padding: 15px;
}

.highlight__article::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: var(--br-large);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

.highlight__article-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.highlight__article-text {
  position: relative;
  margin: 0;
  color: var(--text-reverse-color);
  font-size: 20px;
  line-height: 24px;
  z-index: 1;
}

.highlight__more {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;
  padding: 10px;
  margin-top: 10px;
  border-radius: var(--br-small);
  background-color: var(--text-primary-color);
  color: var(--text-reverse-color);
  z-index: 1;
}

.highlight__more-icon-mobile,
.highlight__more-icon-desktop {
  height: 20px;
  width: 20px;
}

.highlight__more-icon-desktop {
  display: none;
}

@media (min-width: 640px) {
  .highlight {
    position: relative;
  }
  .highlight__article {
    height: 440px;
    padding: 30px;
  }
  .highlight__article-text {
    bottom: 55px;
  }
  .highlight__more {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: var(--text-reverse-color);
    color: var(--text-primary-color);
  }
  .highlight__more-icon-mobile {
    display: none;
  }
  .highlight__more-icon-desktop {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .highlight {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  .highlight__article {
    max-height: 440px;
  }
}

/* Top Picks */

.top-picks {
  background-color: var(--light-bg-color);
  border-radius: var(--br-large);
}

.top-picks__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 15px;
  margin: 0;
}

@media (min-width: 1024px) {
  .top-picks {
    max-height: 440px;
  }
}

/* Articles */

.articles__heading {
  margin: 0 0 15px 0;
}

.articles__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.articles__list-item-image {
  height: 220px;
  margin-bottom: 5px;
}

.articles__list-item-heading {
  -webkit-line-clamp: 2;
}

@media (min-width: 640px) {
  .articles__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .articles__list-item-heading {
    min-height: 48px;
  }
}

@media (min-width: 1024px) {
  .articles {
    grid-column: span 3;
  }
  .articles__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Read More */

.read-more {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.read-more__button {
  padding: 10px;
  background-color: var(--text-primary-color);
  color: var(--text-reverse-color);
  border-radius: var(--br-small);
  border: none;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.read-more__button--loading .spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
}

.read-more__button:disabled {
  cursor: not-allowed;
}
